@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital@1&family=Open+Sans:ital,wght@0,400;1,300;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-gray: #ddd;
    --text-gray: #4a4a4a;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-gray: #aaa
}

* {
    
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    background-color: var(--bg-gray);
}

header {
    background-color: var( --color-primary);
    color: var(--white);
    height: 60px;
    display: flex;
    align-items: center;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

nav img {
    width: 24px;
    height: 23.5px;
    font-size: 12px;
    font-weight: 400;
}

.instagram {
    text-decoration: none;
    color: var(--white);
    
}

.instagram:hover {
    color: var(--bg-gray);
}

.juarts-contact-container {
    display: flex;
    align-items: center;

}

.juarts-contact-container img {
    margin-right: 10px;
}

#juarts-card-list {
    padding: 40px 0;

}

.juarts-card {
    width: 100%;
  

}

.juarts-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}



.juarts-card-description {
    background-color: var(--bg-gray);
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 8px 8px;
    min-height: 150px;
}

.juarts-card-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center;
}

.juarts-btn, .juarts-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-decoration: none;
    border: 0;
    
}

.juarts-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.juarts-form-description {
    background-color: var(--bg-gray);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;

}

.juarts-form {
    width: 100%;

}

.juarts-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.juarts-form-group {
    margin-bottom: 20px;
}

.juarts-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.juarts-form-btn-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;


}